
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 5px;
}

.custom-markdown {
  padding: 0 6px;
}

textarea {
  color: var(--color);
  background-color: transparent;
  border-style: solid;
  border-color: rgba(170, 170, 170, 0.3);
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  margin: 5px 0;
  width: 100%;
  resize: vertical;
  height: 100px;
  max-height: 200px;
  box-sizing: border-box;
}

textarea:focus {
  border-color: rgba(0, 119, 198, 0.7);
  outline: rgba(0, 119, 198, 0.7);
  background-color: rgba(170, 170, 170, 0.05);
}

.react:hover {
  color: rgb(0, 119, 198);
}
.red:hover {
  color: rgb(231, 69, 69);
}

.full-left {
  width: 100%;
  text-align: left;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  border-style: none;
  outline: none;
}

button:disabled,
button:disabled:hover {
  user-select: none;
  color: var(--color) !important;
}
