.card-container {
  background-color: rgba(170, 170, 170, 0.15);
  border-radius: 3px;
  border: 2px solid rgba(85, 85, 85, 0.3);
  padding: 5px 0;
  margin-bottom: 25px;
  user-select: none;
  cursor: default;
}

hr {
  border: 1px solid rgba(170, 170, 170, 0.3);
}

.full-left {
  width: 100%;
  text-align: left;
}
.right {
  float:right;
}


button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  border-style: none;
  outline: none;
}
/* Toolbar Icons */
.toolbar-icon {
  opacity: 0;
}
.card-container:hover .toolbar-icon {
  opacity: 1;
}
.react:hover {
  color: rgb(0, 119, 198);
}
.red:hover {
  color: rgb(231, 69, 69);
}

/* Code */
.code-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.card-code > div {
  flex: 1;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 3px;
  margin: 0 3px;
  user-select: text;
}
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}


/* Output */
.card-output {
  padding: 0 6px;
  user-select: text;
}
.output-plain {
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}
.output-error {
  font-family: Menlo, Monaco, "Courier New", monospace;
  overflow-x: scroll;
  white-space: pre;
}
:host ::ng-deep .card-output img {
  background-color: rgba(255, 255, 255, 0.96);
}

/* Markdown */
.custom-markdown {
  padding: 0 6px;
}
textarea {
  color: var(--color);
  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  margin: 5px 0;
  width: 100%;
  resize: vertical;
  height: 100px;
  max-height: 200px;
  box-sizing: border-box;
}


/* Title Edit Box */
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 5px;
}

input {
  color: var(--color);
  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: bold;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 5px;
}
input:focus,
textarea:focus {
  border-color: rgba(0, 119, 198, 0.7);
  outline: rgba(0, 119, 198, 0.7);
  background-color: rgba(170, 170, 170, 0.05);
}

.edit-title {
  display: flex;
  flex-wrap: nowrap;
}
.edit-title input {
  flex-basis: 400px;
  min-width: 50px;
}
.edit-title button {
  flex-shrink: 0;
}
