h2 {
  font-size: 16px;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 5px;
}

.card-container {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 1px;
  border-color: rgba(0, 119, 198, 0.7);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding: 5px 0px;
  margin: 0px;
  text-align: left;
}

.card-code > div {
  flex: 1;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px 3px;
  margin: 0px 3px;
}

.output {
  white-space: normal;
  word-wrap: break-word;
  padding: 0px 6px;
}

.react:hover {
  color: rgb(0, 119, 198);
}

button {
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.0);
  box-sizing: border-box;
  border-style: none;
  outline: none;
  box-shadow: none;
}

input {
  color: var(--color);
  background-color: rgba(255, 255, 255, 0.0);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: bold;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 5px;
}

input:focus {
  border-color: rgba(0, 119, 198, 0.7);
  outline: rgba(0, 119, 198, 0.7);
}