<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.0/css/fabric.min.css">

<div class="card-container"  [@cardState]="this.state" *ngIf="this.AppComponent.onType(this.card)">
  <span class="card-toolbar">
    <button class="react" (click)="move('up')">
        <i class="ms-Icon ms-Icon--ChevronUp" aria-label="Move Up"></i>
    </button>
    <button class="react" (click)="move('down')">
        <i class="ms-Icon ms-Icon--ChevronDown" aria-label="Move Down"></i>
    </button>
    <button class="react"  (click)="selectCard()">select</button>
    <button class="react" style="float:right" (click)="deleteCard()">
        <i class="ms-Icon ms-Icon--Clear" aria-label="Delete"></i>
    </button>
    <button class="react" style="float:right">
        <i class="ms-Icon ms-Icon--MiniExpand" aria-label="Open in Browser"></i>
    </button>
    <button class="react" (click)="card.collapsed = !card.collapsed" style="float:right">
        <i class="ms-Icon ms-Icon--ChromeMinimize" aria-label="Minimize"></i>
    </button>
  </span>
  <div *ngIf="!titleEdit">
    <button class="react" (click)="titleEdit = !titleEdit; inputText=card.title"><h2>{{card.title}}</h2></button>
  </div>
  <div *ngIf="titleEdit">
    <input [(ngModel)]="inputText" placeholder=Title autofocus (keyup.enter)="card.title=inputText;titleEdit = !titleEdit" (keyup.esc)="titleEdit = !titleEdit" />
    <button class="react" (click)="card.title=inputText;titleEdit = !titleEdit">
      <i class="ms-Icon ms-Icon--Accept" aria-label="Accept"></i>
    </button>
    <button class="react" (click)="titleEdit = !titleEdit">
      <i class="ms-Icon ms-Icon--Clear" aria-label="Cancel"></i>
    </button>
  </div>


  <div *ngIf="!card.collapsed">
    <hr>
    <button (click)="card.codeCollapsed = !card.codeCollapsed">
        <div *ngIf="!card.codeCollapsed">
            <i class="ms-Icon ms-Icon--CaretBottomRightSolid8" aria-label="Expand"></i>
        </div>
        <div class = "prv"*ngIf="card.codeCollapsed">
            <i class="ms-Icon ms-Icon--CaretRight8" aria-label="Collapse"></i>
            <span>{{card.sourceCode}} </span>
        </div>
    </button>
    <div class="card-code">
      <div *ngIf="!card.codeCollapsed">
        <pre>{{card.sourceCode}}</pre>
      </div>
    </div>
    <hr>
    <button (click)="card.outputCollapsed = !card.outputCollapsed">
      <div *ngIf="!card.outputCollapsed">
          <i class="ms-Icon ms-Icon--CaretBottomRightSolid8" aria-label="Expand"></i>
      </div>
      <div *ngIf="card.outputCollapsed">
          <i class="ms-Icon ms-Icon--CaretRight8" aria-label="Collapse"></i>
          <span>Output</span>
      </div>
    </button>
    <div class="card-output" *ngFor="let output of card.outputs">
        <div *ngIf="!card.outputCollapsed" [ngSwitch]="output.type">
            <div *ngSwitchCase="'image/png'">
                <img [src]="'data:image/png;base64,'+output.output">
            </div>
            <div *ngSwitchDefault>
                <pre class="output">{{output.output}}</pre>
            </div>
        </div>
    </div>
  </div>
</div>
