
hr {
  border-style: solid;
  border-width: 1px;
  color: rgba(170, 170, 170, 0.3);
}

.full-left {
  width: 100%;
  text-align: left;
}

.prv{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  font-family: monospace;
}

.card-container {
  background-color: rgba(170, 170, 170, 0.15);
  border-radius: 3px;
  border-color: rgba(85, 85, 85, 0.3);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  padding: 5px 0;
  margin: 0;
  text-align: left;
  margin-bottom: 25px;
  user-select: none;
  cursor: default;
}


.right {
  float:right;
}
/* Toolbar Icons */
.toolbar-icon {
  opacity: 0;
}
.card-container:hover .toolbar-icon {
  opacity: 1;
}
.react:hover {
  color: rgb(0, 119, 198);
}

.card-code > div {
  flex: 1;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 3px;
  margin: 0 3px;
  user-select: text;
}

:host ::ng-deep .card-output img {
  background-color: rgba(255, 255, 255, 0.96);
}

.output-plain {
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
  padding: 0 6px;
  user-select: text;
}

.output-error {
  white-space: pre;
  font-family: monospace;
  overflow-x: scroll;
}

.output-rich {
  user-select: text;
}

button {
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  box-shadow: none;
  user-select: none;
}

/* Title Edit Box */
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 5px;
}
input {
  color: var(--color);
  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: bold;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 5px;
}

input:focus {
  border-color: rgba(0, 119, 198, 0.7);
  outline: rgba(0, 119, 198, 0.7);
  background-color: rgba(170, 170, 170, 0.05);
}
