/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
.map {
  width: 100%;
  height: 380px;
}

:host {
  width: 100%;
}

:host ::ng-deep img {
  background-color: transparent !important;
  max-height: none !important;
}
