:host {
  background-color: var(--background-color);
}

.snack-bar {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.3);
  color: var(--color);
  margin-right: 20px;
}

.snack-bar span {
  flex-basis: 800px;
  padding: 8px 10px;
}
.snack-bar button {
  flex-shrink: 0;
  margin-right: 10px;
}

#undo {
  width: 100px;
}
#undo i {
  display: none;
}

button {
  align-items: flex-start;
  cursor: pointer;
  color: inherit;
  background-color: rgba(0, 119, 198, 0.3);
  border-style: none;
  outline: none;
  padding: 10px;
}
button:hover {
  background-color: rgba(0, 119, 198, 0.7) !important;
}
button:active {
  background-color: rgba(0, 119, 198, 1.0) !important;
}


@media screen and (max-width: 220px){
  #undo {
    width: 35px;
  }
  #undo span {
    display: none;
  }
  #undo i {
    display: block;
  }
}
