.container {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.cards-list {
  padding: 65px 10px 0 0;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 220px){
  .cards-list {
    padding: 0 10px 0 0;
  }
}
