<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form class="toolbar">
    <input class="toolbar-left" type="text" name="searchBox" placeholder="Search..." [(ngModel)]="searchQuery" my-on-key-down-call="">
      
    <span>Sort by:
        <select class="toolbar-right" name="sortByBox" [(ngModel)]="sortBy" (change)="onSort()">
            <option value="Oldest">Oldest</option>
            <option value="Newest">Newest</option>
        </select>
    </span>

    <div class="searchResult" *ngIf="searchQuery">Autocomplete</div>
  </form>
  
  <div #scrollingList class="cards-list">
    <app-card
      #listItems
      *ngFor="let card of cards"
      [card]="card">
  </app-card>
  </div>
</div>
