
<div class="container">

  <app-toolbar
    (onFilterChange)="updateFilters($event)"
    (onSearchChange)="updateSearch($event)"
    (onSelectingToggle)="updateSelecting()"
    (onSelectDelete)="deleteSelectedCards()"
    (onSelectAll)="selectAll()"
    (onNewMarkdown)="newMarkdownCard()"
    (onExport)="export()"></app-toolbar>

  <div #scrollingList class="cards-list" (scroll)="onScroll()">
    <app-card
      #listItems
      *ngFor="let card of cards"
      [card]="card"
      [style.visibility]="(listItems.element.nativeElement.offsetTop < scrollingList.scrollTop - 2000 || listItems.element.nativeElement.offsetTop > scrollingList.scrollTop + scrollingList.offsetHeight + 2000) ? 'hidden' : 'visible'"

      [visible]="visibleCards.get(card) !== false"
      [searchQuery]="searchQuery"
      [isSelecting]="isSelecting"
      [selected]="selectedCards.has(card)"
      (onMove)="cardMoved(card, $event.direction)"
      (onSelect)="cardSelected(card, $event)"
      (onDelete)="deleteCard(card)"
      (onOpenBrowser)="openBrowser(card)"
      (onCollapseOutput)="collapseOutput(card, $event.value)"
      (onCollapseCode)="collapseCode(card, $event.value)"
      (onCollapseCard)="collapseCard(card, $event.value)"
      (onChangeTitle)="changeTitle(card, $event.newTitle)"
      (onEditCustomCard)="editCustomCard(card)"
      (onSavePdf)="savePdf($event.pdf)">
    </app-card>
  </div>
</div>

<app-snackbar
  *ngIf="showingUndoButton"
  action="Undo"
  [content]="undoContent"
  (actionClicked)="undoClicked()"></app-snackbar>
