.container {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.cards-list {
  padding: 65px 10px 0 0;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

app-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  margin-left: -10px;
}

app-snackbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  margin-left: -10px;
}

/* Display Size */
@media screen and (max-width: 220px){
  .cards-list {
    padding: 0 10px 0 0;
  }
}
