.toolbar {
  height: 30px;
  margin: 0 0 2px 0;
  background-color: var(--background-color);
  border: 0 solid rgba(200, 200, 200, 0.5);
  border-bottom-width: 1px;
  user-select: none;
}

.main-bar {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 10px;
}
.main-bar input {
  flex-basis: 400px;
  min-width: 90px;
}
.main-bar button {
  flex-shrink: 0;
}

button {
  align-items: flex-start;
  cursor: pointer;
  color: inherit;
  background-color: rgba(0, 119, 198, 0.3);
  border-style: none;
  outline: none;
  padding: 5px;
  margin-left: 3px
}
button:hover {
  background-color: rgba(0, 119, 198, 0.7) !important;
}
button:active {
  background-color: rgba(0, 119, 198, 1.0) !important;
}
button i {
  display: none;
}

.red {
  background-color: rgba(231, 69, 69, 0.3);
}
.red:hover {
  background-color: rgba(231, 69, 69, 0.7) !important;
}
.red:active {
  background-color: rgba(231, 69, 69, 1.0) !important;
}

/* Search Box */
input[type=text] {
  color: var(--color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-margin-start: 5px;
  font-size: 14px;
}
input:focus {
  border-color: rgba(0, 119, 198, 0.7);
  outline: rgba(0, 119, 198, 0.7);
  background-color: rgba(170, 170, 170, 0.05);
}

/* Search/Select Toolbar */
.extra-toolbar {
  background-color: var(--background-color);
  padding-top: 6px;
  height: 26px;
  border: 0 solid rgba(200, 200, 200, 0.5);
  border-bottom-width: 1px;
}

.filter {
  -webkit-margin-start: 5px;
  font-size: 11px;
  margin-top: -3px;
}

label span {
  padding: 5px;
  background-color: rgba(170, 170, 170, 0.3);
}

label i {
  display: none;
  padding: 6px;
  width: 15px;
  background-color: rgba(170, 170, 170, 0.3);
  text-align: center;
}

#selectIcon {
  display: none;
}

/* Checkboxes */
input[type=checkbox]{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
input[type=checkbox]:hover + span,
input[type=checkbox]:hover + span + i {
   background: rgba(0, 119, 198, 0.3);
}
input[type=checkbox]:checked + span,
input[type=checkbox]:checked + span + i {
   background-color: rgba(0, 119, 198, 1.0);
}


/* Display Size */
@media screen and (max-width: 450px){
  #filter span {
    display: none;
  }
  #filter i {
    display: block;
    width: 15px;
  }
}
@media screen and (max-width: 400px){
  #markdown span {
    display: none;
  }
  #markdown i {
    display: block;
    width: 15px;
  }
}
@media screen and (max-width: 360px){
  #select span {
    display: none;
  }
  #select i {
    display: block;
    width: 15px;
  }

  label span {
    display: none;
  }
  label i {
    display: inline-block;
  }
}
@media screen and (max-width: 300px){
  #export span {
    display: none;
  }
  #export i {
    display: block;
    width: 20px;
  }

  #selectText {
    display: none;
  }
  #selectIcon {
    display: inline-block;
    width: 15px;
  }
}
@media screen and (max-width: 220px){
  .toolbar {
    display: none;
  }
}
